<section id="contact" class="contact-section uk-section">
    <div class="uk-container">
        <h2 class="uk-text-center uk-margin-large-bottom" uk-scrollspy="cls: uk-animation-fade; delay: 300;">Visit Our Studio</h2>
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@m">
                <div class="contact-info" uk-scrollspy="cls: uk-animation-slide-left; delay: 500;">
                    <h3>Contact Information</h3>
                    <div class="contact-item uk-margin-medium">
                        <span uk-icon="icon: location; ratio: 1.2" class="uk-margin-small-right"></span>
                        <div>
                            <strong>Address:</strong><br>
                            {{ site.data.contact.address.street }}<br>
                            {{ site.data.contact.address.city }}, {{ site.data.contact.address.state }} {{ site.data.contact.address.zip }}<br>
                            {{ site.data.contact.address.country }}
                        </div>
                    </div>
                    <div class="contact-item uk-margin-medium">
                        <span uk-icon="icon: phone; ratio: 1.2" class="uk-margin-small-right"></span>
                        <div>
                            <strong>Phone:</strong><br>
                            <a href="tel:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
                        </div>
                    </div>
                    <div class="contact-item uk-margin-medium">
                        <span uk-icon="icon: mail; ratio: 1.2" class="uk-margin-small-right"></span>
                        <div>
                            <strong>Email:</strong><br>
                            <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
                        </div>
                    </div>
                    <div class="social-links uk-margin-medium-top">
                        <a href="{{ site.data.contact.social.facebook }}" class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a>
                        <a href="{{ site.data.contact.social.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
                        <a href="{{ site.data.contact.social.twitter }}" class="uk-icon-button" uk-icon="twitter"></a>
                    </div>
                </div>
            </div>
            <div class="contacts-map uk-width-1-2@m">
                <div id="map" style="width:100%;height:350px;"></div>
            </div>
        </div>
    </div>
</section>
<script>
  // Пример светлой и тёмной темы
  const lightStyle = [];
  const darkStyle = [
    { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
    { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
    { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
    // ...добавьте остальные стили dark theme...
  ];

  function initMap() {
    const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: -37.81627917975171, lng: 144.9537353153169 },
      zoom: 14,
      styles: isDark ? darkStyle : lightStyle,
    });
    new google.maps.Marker({
      position: { lat: -37.81627917975171, lng: 144.9537353153169 },
      map,
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=ВАШ_API_КЛЮЧ&callback=initMap"></script>