---
---

:root {
  --primary-color: #020202;
  --secondary-color: #333;
  --accent-color: #ff5722;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;
}
.accent {
  color: #812509 !important;
}
.accent-bg {
  background-color: #812509 !important;
}